/********************************

      STYLE VARIABLES

 ********************************/

// TODO: Define shared variables

$beige: #F0B67F;
$red: #FE5F55;
$olive: #D6D1B1;
$light-green: #C7EFCF;
$light-brown: #EEF5DB;
$white: #FFFFFF;
