@import "../variables";
/********************************

		To Do Item

 ********************************/

.to-do-item__container {

	.to-do-item__text {
		color: #494949;
		padding-right: 10px;
	}

	.to-do-item__close {
		cursor: pointer;
		color: $red;
	}
}
