@import "../variables";
/********************************

		To Do List

 ********************************/

.to-do-list__container {

	.to-do-list__background {
		background-color: $light-brown;
		background-size: cover;
		left: 0;
		min-height: 100%;
		min-width: 100%;
		position: fixed;
		top: 0;
		z-index: -1;
	}

	.to-do-list__header {

	}
}
